.NewCategory{
    height: 70vh;
    margin: 6ch 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: roboto, sans-serif;
    color: #EF9CA6;
}
.NewCategory h1{
    text-align: center;
}
.form__button{
    display: flex;
    justify-content: space-evenly;
}