.Section{
    box-sizing: border-box;
    width: 100vw;
}
.text{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}
.text h1{
    color: #EF9CA6;
    font-family: roboto, sans-serif;
    text-align: left;
    font-size: 1.8rem;
}
.text p{
    color: #fff;
    font-family: roboto, sans-serif;
    text-align: left;
    font-size: .8rem;
    opacity: .9;
}