:root{
  --black: #191919;
  --pink: EF9CA6;
}
body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  background-color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
