.banner{
    width: 100vw;
    height: 26vh;
    margin-bottom: 1.25rem;
    background: url(/public/img/banner.webp);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
.banner-main{
    background-color: rgba(0, 0, 0, .6);
    height: 26vh;
    width: 100vw;
    top: 0;
    position: absolute;
}
.banner-main p{
    display: none;
}
.banner Button{
    position: absolute;
    bottom: 2rem;
    left: 9.5rem;
}
.bannerVideo{
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .banner h1{
        position: relative;
        left: 25vw;
    }
    .banner Button{
        left: 45vw;
    }
}

@media screen and (min-width: 1024px) {
    .banner{
        height: 50vh;
    }
    .banner-main{
        height: 50vh;
    }
    .banner-main h1{
        font-size: 3rem;
        position: relative;
        bottom: 15vh;
    }
    .banner-main Button{
        width: 15rem;
        height: 3rem;
        font-size: 1.5rem;
        left: 7vw;
        /* bottom: 13vh; */
    }
    .banner-main p{
        display: inline-block;
        font-size: 1.3rem;
        width: 40vw;
        text-align: left;
        color: white;
        font-family: roboto, sans-serif;
        position: absolute;
        top: 23vh;
        left: 7vw;
    }
}